<ul class="partners" role="list">
  <li class="partner"><img src="partners/arval.png" alt="Arval" width="244" height="57" loading="lazy"></li>
  <li class="partner"><img src="partners/reale-mutua.svg" alt="Reale Mutua" width="284" height="69" loading="lazy"></li>
  <li class="partner"><img src="partners/italiana.svg" alt="Italiana Assicurazioni" width="179" height="40" loading="lazy"></li>
  <li class="partner"><img src="partners/axa.svg" alt="AXA" width="64" height="64" loading="lazy"></li>
  <li class="partner"><img src="partners/quixa.svg" alt="Quixa" width="897" height="456" loading="lazy"></li>
  <li class="partner"><img src="partners/nobis.png" alt="Nobis Assicurazioni" width="220" height="92" loading="lazy"></li>
  <li class="partner"><img src="partners/lloyd-adriatico.svg" alt="Lloyd Adriatico" width="1444" height="153" loading="lazy"></li>
  <li class="partner"><img src="partners/ras.svg" alt="RAS" width="64" height="64" loading="lazy"></li>
  <li class="partner"><img src="partners/genialloyd.svg" alt="Genialloyd" width="451" height="164" loading="lazy"></li>
  <li class="partner"><img src="partners/tua.png" alt="TUA Assicurazioni" width="79" height="74" loading="lazy"></li>
  <li class="partner"><img src="partners/unipol.svg" alt="Unipol" width="624" height="250" loading="lazy"></li>
  <li class="partner"><img src="partners/vittoria.png" alt="Vittoria Assicurazioni" width="469" height="136" loading="lazy"></li>
</ul>
